@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
  width: 90vw;
}

.title {
  font-size: 3.4rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.5rem;
  background-image: linear-gradient(40deg, #ff0035, #3590f3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.subtitle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  background-image: linear-gradient(40deg, #ff0035, #3590f3);
}

.subtitle.reveal::after {
  transform: translateX(100%);
}

.text {
  font-size: 0.9rem;
}

.to-reveal {
  transition: all 1s ease;
}

.to-reveal.left {
  transform: translateX(-100%);
  opacity: 0;
}

.to-reveal.right {
  transform: translateX(100%);
  opacity: 0;
}

.to-reveal.bottom {
  transform: translateY(100%);
  opacity: 0;
}

.to-reveal.bottom:nth-child(even) {
  transition-delay: 0.2s;
}

.to-reveal.opacity {
  opacity: 0;
}

.to-reveal.revealed {
  transform: translate(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 4.2rem;
  }

  .subtitle {
    font-size: 3.3rem;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 5.5rem;
  }

  .subtitle {
    font-size: 3.4rem;
  }

  .text {
    font-size: 1.2rem;
  }
}
/* ###### */
/* NAVBAR */
/* ### */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1500;
  height: 10vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.navbar-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: visible;
}

.navbar-toggler {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.navbar-toggler .line {
  height: 1px;
  margin: 5px 0;
  width: 30px;
  background-color: #333;
  transition: all 0.3s;
}

.navbar-toggler .line1 {
  transform: translateY(6px) rotate(30deg);
}

.navbar-toggler .line2 {
  opacity: 0;
  transform: translateX(-20px);
}

.navbar-toggler .line3 {
  transform: translateY(-6px) rotate(150deg);
}

.navbar-brand {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.4rem;
  animation: appearBottom 1s ease, opacityAnimation 3s ease;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.nav-items {
  position: absolute;
  top: 10vh;
  right: -100%;
  transition: all 0.3s;
}

.navbar-inner.active .nav-items {
  position: absolute;
  top: 12vh;
  right: 0;
  background-color: #fafafa;
  list-style: none;
  text-align: center;
  border-radius: 5px;
  min-width: 150px;
  width: 50vw;
  max-width: 300px;
  transition: all 0.3s;
}

.nav-items li {
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: appearBottom 1s ease, opacityAnimation 3s ease;
}

.nav-items li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.nav-items li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ff0035;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-out;
}

.nav-items li a:hover::after {
  width: 100%;
}

.nav-items li a:hover::after {
  width: 100%;
}

.nav-items li a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #ff0035;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease-out;
}

.nav-items li a:hover::before {
  width: 100%;
}

.nav-items li a:hover::before {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-inner.active .nav-items {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .nav-items {
    position: relative;
    top: 0;
    list-style-type: none;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-brand {
    letter-spacing: 7px;
  }

  .nav-items li {
    padding: 10px;
  }

  .nav-items li:not(:last-child) {
    border-bottom: none;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* ###### */
/* HERO */
/* ### */

.hero {
  position: relative;
  overflow: hidden;
}

.hero-inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-divider {
  margin: 30px auto 20px;
  background-image: linear-gradient(40deg, #ff0035, #3590f3);
  width: 60%;
  height: 2px;
  opacity: 0;
  animation: appearBottom 1.5s 1s ease forwards, opacityAnimation 3s 0.4s ease forwards;
}

.hero h1 {
  color: #333;
  z-index: 1;
  animation: appearBottom 1.5s ease forwards, opacityAnimation 3s ease forwards;
}

.hero-subtitle {
  text-align: center;
  color: #333;
  text-transform: capitalize;
  z-index: 1;
  opacity: 0;
  animation: appearBottom 1.5s ease forwards, opacityAnimation 3s 1s ease forwards;
}

.svg {
  position: absolute;
}

.svg-circle {
  top: 20%;
  left: 20%;
}

.svg-triangle {
  top: 70%;
  left: 70%;
}

.custom-shape-divider-bottom-1618781758 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 100;
}

.custom-shape-divider-bottom-1618781758 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1618781758 .shape-fill {
  fill: #fafafa;
}

/* -----------PORFTOLIO----------- */

.portfolio {
  background-image: linear-gradient(to bottom, #fafafa, #fff);
}
.portfolio-inner {
  overflow-x: hidden;
  padding: 80px 0 0 0;
}

.portfolio-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90%;
  flex-wrap: wrap;
  overflow-y: hidden;
  padding: 20px;
}

.portfolio-images.active {
  cursor: grabbing;
}

.portfolio-images::-webkit-scrollbar {
  display: none;
}

.portfolio-img {
  width: 90%;
  position: relative;
  margin: 5px auto;
}

.portfolio-link {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #3591f3;
  color: #fff;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0);
  z-index: 1000;
}

.portfolio-link a {
  color: #ffffff;
  font-size: 3rem;
  transition: all 0.3s 0.2s ease;
  opacity: 0;
  transform: translate(30px, 30px);
}

.portfolio-link a svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-img:hover .portfolio-link a {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio-img:hover .portfolio-link {
  opacity: 1;
  transform: translate(20px, 20px);
}

.portfolio-img:hover {
  z-index: 1000;
}

.portfolio-img img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .portfolio-img {
    width: 48%;
  }
}

/* ---------PROJECTS--------- */
.projects-inner {
  text-align: right;
  padding: 80px 0;
}

.projects-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 20px;
}

.projects-cards .projects-card {
  background: #202020;
  width: 90%;
  height: 320px;
  margin: 6px;
  position: relative;
}

.project-link {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #3590f3;
  transform: translate(0);
  color: #fff;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link a {
  color: #ffffff;
  font-size: 3rem;
  opacity: 0;
  transform: translate(30px, 30px);
  transition: all 0.3s 0.2s ease;
}

.project-link a svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-card:hover .project-link {
  transform: translate(20px, 20px);
  opacity: 1;
}

.projects-card:hover .project-link a {
  transform: translate(0, 0);
  opacity: 1;
}

.projects-card:hover {
  z-index: 1000;
}

.projects-cards .projects-card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (min-width: 768px) {
  .projects-cards .projects-card {
    background: #202020;
    width: 48%;
  }
}

/* ---------SKILLSET---------*/
.skillset-inner {
  text-align: center;
  padding: 80px 0;
}

.skillset-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skillset-icon {
  margin: 20px;
}
.skillset-icon svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

/* ---------CONTACT--------- */

.contact {
  background-image: none;
}

.contact-inner {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.contact-inner form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contact-inner form button {
  padding: 10px 60px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 30px;
  transition: all 0.3s ease;
  background-color: #3590f3;
  cursor: pointer;
}

.contact-inner form button:hover {
  background-color: #6eacee;
}

.contact-inner form button:active {
  background-color: #356496;
  transform: scale(0.95);
}

.contact-inner form label {
  margin: 10px 0;
}

.contact-inner form input,
.contact-inner form textarea {
  padding: 10px;
  width: 100%;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.contact-inner form input:hover,
.contact-inner form textarea:hover {
  box-shadow: 0 0 5px 2px #d3d3d3;
  background-color: #fff;
}
.contact-inner form input:focus,
.contact-inner form textarea:focus {
  box-shadow: 0 0 5px 2px #d3d3d3;
  background-color: #fff;
}
.contact-inner form textarea {
  resize: none;
  min-height: 200px;
}

@media (min-width: 768px) {
  .contact {
    background-image: url("./images/bg.png");
    background-position: center;
    background-size: cover;
  }
  .contact-inner form input {
    padding: 10px;
    width: 50%;
  }
  .contact-inner form textarea {
    width: 50%;
  }
}

/* ---------FOOTER---------- */

footer {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  flex-direction: column;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  font-size: 1.7rem;
  color: #fff;
  background-color: #5d5d5d;
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 5px;
  border-radius: 50%;
  margin: 10px;
}

.footer-links a:hover {
  background-color: rgb(0, 0, 0);
}
